.Wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Wrapper div {
  display: flex;
}

.Container {
  width: 46rem;
  flex-direction: column;
  align-items: center;

  margin: 0 1rem;
}

.CreateContainer {
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: -1.7rem;
}

.ListInfoContainer {
  width: 100%;
  justify-content: space-between;

  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.ListInfoItem {
  gap: 0.5rem;
}

.ListInfoItem span {
  font-weight: bold;
}

.CreatedTitle {
  color: var(--blue);
  font-size: 0.875rem;
}

.FinishedTitle {
  color: var(--purple);
  font-size: 0.875rem;
}

.InfoCounter {
  color: white;
  font-size: 0.75rem;
  background: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
}
